<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guokui.community.dao.UserMapper">
    <!-- 使用insert, update, delete, select 标签写sql -->
    <sql id="selectFields">
        id, username, password, salt, email, type, status, activation_code, header_url, create_time
    </sql>

    <select id="selectUserById" resultType="com.guokui.community.entity.User">
        select <include refid="selectFields"></include>
        from user
        where id = #{userId}
    </select>
</mapper>